<body>
    {{> nav }}
    <div><button type="button" class="btn btn-primary add-request" style="margin: 25px 50px 75px 300px">CREATE
            REQUEST</button>
    </div>


    {{> pending-table}}
    <div></div>>
    {{> approved-table}}

</body>