<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    {{!-- <form id="signup" name="signup"> --}}
    {{!-- <form id="signup" name="signup" method="post" action="/signup"> --}}
    <label for="email">Email Address</label>
    <input class="text" id="email-input" name="email" type="email" />
    <label for="firstname">Firstname</label>
    <input id="firstname-input" name="firstname" type="text" />
    <label for="lastname">Lastname</label>
    <input id="lastname-input" name="lastname" type="text" />
    <label for="password">Password</label>
    <input id="password-input" name="password" type="password" />
    {{!-- <label for="department">Department</label>
        <input name="department" type="text" /> --}}
    <input class="btn signups" type="submit" value="Sign Up" />
    {{!-- </form> --}}

</body>

</html>